*,body{margin:0;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
body,legend{border:0;padding:0}
*,body,legend,td,th{padding:0}
img{vertical-align:middle}
article,aside,details,div,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
audio,canvas,video{display:inline-block}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{font-family:PingFang-SC-Medium,Microsoft YaHei,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:0}
b,em,i,strong{font-style:normal;font-weight:400}
optgroup{font-weight:700}
textarea{overflow:auto}
table{border-spacing:0;border-collapse:collapse}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;tap-highlight-color:transparent}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none}
ol,ul{list-style:none}
img{display:block;height:auto;max-width:100%}  